.row {
  display: flex;
  flex-wrap: wrap;
}

.text_truncate {
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.bg_hero {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/imageBackgroundLarge.99b0fdaa4e2448fbddf40424337357ac.jpg);
}

.stretched_link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

//  .col-auto    width: auto
//  .col-1    width: 8.33333333%;
//  .col-2    width: 16.66666667%;
//  .col-3    width: 25%;
//  .col-4    width: 33.33333333%;
//  .col-5    width: 41.66666667%;
//  .col-6    width: 50%;
//  .col-7    width: 58.33333333%;
//  .col-8    width: 66.66666667%;
//  .col-9    width: 75%;
//  .col-10    width: 83.33333333%;
//  .col-11    width: 91.66666667%;
//  .col-12    width: 100%;
